@import '../../common/CommoStyles.module.scss';

.inputWrapper{
  flex-basis: 48%;
}

.errMsg{
  position: absolute;
  background-color: rgba(228, 23, 23, 0.753);
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.input{
  width: 80%;
  background-color: white;
  color: gray;
  font-size:1rem;
  padding: 15px 20px;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.validInput {
  border-color: green;
}

.errorInput {
  border-color: red;
}